
# Commonly used variables
define OWNAS = {{ own_asn }};
router id {{ router_id }};

# Check function to see if IRR allows us to originate a prefix
function can_locally_originate_route() {
    if (net.type = NET_IP4) then {
        return net ~ [
            {{ self_origin_routes.ipv4 | join(', ') }}
        ];
    }
    if (net.type = NET_IP6) then {
        return net ~ [
            {{ self_origin_routes.ipv6 | join(', ') }}
        ];
    }
    return false;
}

